@font-face {
    font-family: "April June" ; src: url(/static/fonts/April\ June.ttf);
}
@font-face {
    font-family: "GoshaSans-Bold" ; src: url(/static/fonts/GoshaSans/GoshaSans-Bold.otf);
}
@font-face {
    font-family: "GoshaSans-Regular" ; src: url(/static/fonts/GoshaSans/GoshaSans-Regular.otf);
}
@font-face {
    font-family: "NeueMontreal-Light" ; src: url(/static/fonts/NeueMontreal/NeueMontreal-Light.otf);
}
@font-face {
    font-family: "NeueMontreal-Bold" ; src: url(/static/fonts/NeueMontreal/NeueMontreal-Regular.otf);
}
@font-face {
    font-family: "NeueMontreal-Italic" ; src: url(/static/fonts/NeueMontreal/NeueMontreal-MediumItalic.otf);
}



*{
    padding: 0;
    margin: 0;
    /* cursor: none; */
}

html{
    scroll-behavior:auto !important;
}

body{   
    background: #09090c;    
    color: #c7c7c7;
    position: relative;    
}

::-webkit-scrollbar{
    display: none
}



/**** CURSOR MOUSE ****/

.cursor {
    position: absolute;    
    background: white;
    width: 20px;    
    height: 20px;
    border-radius: 100%;    
    z-index: 1;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(0.8);
    z-index: 1000;
}
.cursor.click {
    opacity: 1;
    transform: scale(1.5);
}
.cursor-follower {    
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    width: 40px;   
    height: 40px;    
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);
    z-index: 1000;
}
.cursor-follower.click {
    opacity: 1;
    transform: scale(2);
}

@media(max-width:768px){
    .cursor,.cursor-follower{
        display: none;
    }
}


/**** LOADPAGE ****/

.loadpage{
    height: 100vh;
    width: 100%;
    display: table;
    text-align: center;    
    position: fixed;
    overflow: hidden;

    
}

.loadpage span{
    display: table-cell;
    vertical-align: middle;
}

.loadpage h1{
    font-size: 2.5vh;
    letter-spacing: 30px;
    text-transform: uppercase;
    font-family: "NeueMontreal-Light";
    transform: scaleY(0.9);    
    display: flex;
    width: 100%;
    justify-content: center;
}

@media (max-width:600px) {
    .loadpage h1 {
        font-size: 2vh;
        letter-spacing: 25px;
    }
}
@media (max-width:500px) {
    .loadpage h1{
        font-size: 1.5vh;
        letter-spacing: 15px;
       
    }
}
@media (max-width:360px) {
    .loadpage h1 {
        font-size: 1.5vh;
        letter-spacing: 10px;
    }
}



/**** Header ****/

header {
    padding: 2vw 4vw;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    align-items: flex-start;
    transform: translateY(20%);
    opacity: 0;
    transition: all 2s;
}

header.loaded{
    transform: translateY(0%);
    opacity: 1;

}

header .header-title {
    text-transform: uppercase;
    font-family: "GoshaSans-Regular";
    letter-spacing: 10px;
    font-size: x-small;
    padding: 1rem;
}

header .bar-menu{
    padding: 1rem;
    overflow: hidden;
    cursor: pointer;
}
header .icon-menu, header .icon-menu-cancel{
    display: flex;
    width: 25px;
    height: 10px;
    margin-left: 12.5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    transition: all .2s;
}
header .icon-menu-cancel{
    transform: translateY(50px);    
}

header .icon-menu.click{
    transform: translateY(-30px);
    transition: all .2s;
}
header .icon-menu-cancel.click{
    transform: translateY(0px);    
}


.icon-menu .first-line {
    width: 25px;
    height: 2.22px;
    background-color: #c7c7c7;
}

.icon-menu .second-line {
    width: 15px;
    height: 2.22px;
    background-color: #c7c7c7;
    transition-duration:  .5s; 
}
.bar-menu:hover .second-line{
    width: 25px;
    transition-duration:  .5s; 
} 


.icon-menu-cancel .first-line {
    width: 25px;
    height: 2.22px;
    background-color: #c7c7c7;
    transform: rotate(-45deg);
}

.icon-menu-cancel .second-line {
    width: 25px;
    height: 2.22px;
    background-color: #c7c7c7;
    transform: rotate(45deg) translate3d(-5px, -5px, 10px);
}

@media (max-width:600px) {
    header {
        padding: 1vw;
    }
    header .header-title {        
        letter-spacing: 5px;
        font-size: 1.2vw;       
    }
    header .bar-menu {       
        transform: scale(0.8);
    }

}
@media (max-width:500px) {
    header .header-title {
        font-size: 2vw;       
    }
}

@media (max-width:360px) {
    header .bar-menu {       
        transform: scale(0.7);
    }
}





/**** NAV ****/

.overlay-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    background: #0a0a0a;
    width: 100%;
    transform: translateY(100%);
    transition: all 1s;
    z-index: 100;
}

.overlay-nav.click{
    transform: translateY(0%);
    transition: all 1s;
} 

nav {    
    
    position: fixed;
    width: 100%;
    height: 100vh;
    display: table; 
    z-index: -100;
}

nav.show{
    z-index: 100;
}


ul.header-list {
    padding: 4vw 5vw;
    height: 100%;
    display: table-cell;
    width: 100%;
    vertical-align: bottom;
    list-style: none;
}

ul.header-list li {
    font-size: 5vw;
    font-family: "NeueMontreal-Light";
    letter-spacing: 10px;
    transition-duration: 0s;
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: center top;
    transform-style: preserve-3d;
    transition: opacity 0s cubic-bezier(.215,.61,.355,1),transform 0s cubic-bezier(.215,.61,.355,1); 
    opacity: 0;    
}

ul.header-list li.click{
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 1s;
    transform: none; 
}

nav a {
    text-decoration: none;
    
    color: #c7c7c7;
    transition: all .5s;
}
nav a:hover {
    transition: all .5s;
    color: #97170c;
}

nav .nav-contact {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4vw 6vw;
    width: 40%;
    transition-duration: 0s;
    transition-delay: 0s;
    opacity: 0;
}
nav .nav-contact.click{
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 1s;
}

nav .contact-text {
    text-transform: uppercase;
    font-family: "NeueMontreal-Light";
    letter-spacing: 1px;
    color: #c7c7c7;
    font-size: 1.1vw;
}

.links--{
    
    text-transform: uppercase;
    font-family: "NeueMontreal-Light";
    letter-spacing: 2px;
    text-decoration: none;    
}


@media(max-width:1000px){
    ul.header-list {
        padding: 15vw 5vw;        
        vertical-align: top;        
    }
    nav .nav-contact {        
        left: 0;
        bottom: 0;
        padding: 4vw 5vw;
        width: 50%;
    }
    nav .nav-contact   p {
        font-size: 1.5vw;
    }
}

@media(max-width:800px){
    ul.header-list li {       
        line-height: 2;
    }

    nav .contact-text {        
        letter-spacing: 2px; 
        margin: 0 0 5vh 0;       
    }
    nav .nav-contact p {
        font-size: 2vw;
    }
}

@media(max-width:600px){
    nav .nav-contact {        
        width: 60%;
    }
    nav .nav-contact p {
        font-size: 2.5vw;
    }
}

@media(max-width:500px){
    ul.header-list {        
        vertical-align: top;
        padding: 30vw 4vw 4vw;
       
    }
    ul.header-list li {
        font-size: 10vw;
        font-family: "NeueMontreal-Light";
        letter-spacing: 5px;
        transform: scaleY(.9);
        font-weight: 100;
        line-height: 1.8;
    }
    nav .nav-contact {
        width: 80%;
    }
    nav .nav-contact p {
        font-size: 4vw;
    }
    
}




/**** WRAPPPER ****/

.wrapper--{
    display: none;
    position: relative;
    width: 100%;
    height: 100%; 
    visibility: visible;     
}
.wrapper--.nav-click{    
    visibility: hidden;
}




/**** SECTIONS TITLE ****/

.div-title {
    width: 90%;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    transition: all .2s;   
}

.div-title h6 {
    position: absolute;
    bottom: .2rem;
    right: 0;
    font-family: "NeueMontreal-Light";
    line-height: 1.5;    
    
}



/* #### MAIN #### */
main {
    width: 90%;
    margin: auto;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
} 

.main-contact {
    position: absolute;
    z-index: 2;
    top:0;
    bottom: 0;
    display: flex;
    align-items: center;
    right: 0;
    opacity: 0;
    transition: all 1.5s ease-out;
}
.main-contact li {
    list-style: none;
    margin: 1rem 0;
    transition: all .2s ease-in;
    height: 2rem;
}
.main-contact li:hover{    
    transform: translateY(-10px);
    transition: all .2s ease-out;
} 
.main-contact a {
    color: #cedddd;    
}
.main-contact i{
    font-weight: 100;
}

.main-data {
    width: 100%;
}
.main-data .name- {
    margin: 8vw 0 0 0;
}
.main-data .name- span{
    height: auto;
    display: block;
    position: relative;
    overflow: hidden;
}
.main-data .name- h1{
    font-family: "NeueMontreal-Italic" ;
    font-size: 12vw;
    text-transform: uppercase;
    margin: 0;
    line-height: .8;
    color: #cedddd;
    display: flex;
    transform: translateY(100%);
    align-items: center;
    transition: all 1.5s ease-out;
}
.main-data .name- h1 span.line {
    width: 0%;
    height: 3vh;
    transition: all 1.2s ease-out;
    background: #69090b;
    display: block;
}

.position- {
    opacity: 0;
    transition: all 1.5s ease-out;
    padding: 2vw 0 0;
}
.position- h5{
    font-weight: 100;
    text-transform: uppercase;
    font-size: medium;
    letter-spacing: 2px;
    color: #cedddd;
}
.position- span{
    color: #a31f0e;
    font-weight: 600;
}

@media(max-width:1250px){
    .main-data .name- h1{
       font-size: 15vw;  
    }
}

@media(max-width:1000px){
    .main-contact { 
        align-items: end;
        right: 0;        
        width: 100%;
    }
    .main-contact ul{
        display: flex;
        width: 20%;
        justify-content: space-between;
    }
    .main-data .name- h1{
        font-size: 16vw;  
    }
}

@media(max-width:800px){
    .main-data .name- h1{
        font-size: 17vw;  
    }
}

@media(max-width:600px){
    .main-data .name- h1{
        font-size: 18vw;  
    }
    .main-contact ul {        
        width: 30%;        
    }
}

@media(max-width:450px){
    .main-data .name- h1{
        font-size: 20vw;  
    }
}

/* #### ABOUTME ####  */

.aboutme--{
    width: 90%;
    margin: auto;
    height: 80vh;
    display: flex;
    align-items: center;    
    position: relative;
}

.aboutme-circle {
    position: absolute;
    bottom: -10vh;
    right: 0vw;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.9);
}

.aboutme-circle h4 {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: rotate 20s linear infinite;    
    font-family: "GoshaSans-Regular";
}

.aboutme-circle span {
    color: #cedddd !important;
    position: absolute;
    left: 50%;
    transform-origin: 0 100px;
    font-size: .6rem;
    text-transform: uppercase;
    font-weight: 100 !important;
}
.about_text {
    margin: 3rem 0 0;
    display: flex;
    justify-content: space-between;
}

.aboutme-- .about_text p{
    font-family: "NeueMontreal-Light";  
    width: 45%;  
    line-height: 1.3;      
    font-size: 1.3rem; 
    text-indent: 50px;     
    text-align: justify;
}

.aboutme-- .about_text p:nth-of-type(1){
    text-indent: 50px; 
}

.aboutme-- span{
    color: #a31f0e;
    font-weight: 900;
}


@media(max-width:1200px){
    .aboutme-- .about_text p {        
        font-size: 1.5rem;        
    }
}
@media(max-width:1000px){
    .about_text {
        margin: 3rem 0 0;
        display: block;
    }
    .aboutme-- .about_text p {        
        width: 70%;      
    }
}
@media(max-width:800px){ 
    .aboutme-circle {        
        bottom: -15vh;
    }   
    .aboutme-- .about_text p {        
        width: 100%; 
        font-size: 1.6rem;      
    }
}
@media(max-width:600px){ 
    .aboutme-circle {        
        bottom: -20vh;
    } 
    .aboutme-- .about_text p {        
        width: 100%; 
        font-size: 1.3rem;      
    }
}
@media(max-width:500px){ 
    .aboutme-circle {        
        bottom: -30vh;
    } 
}


/**** TRANSITION-1 ****/

.transition--{
    width: 99%;
    margin: 50vh auto;
    height: 200vh;
}

.transition-data{
    height: 100vh;
    top: 12vh;
    position: sticky;
}
.standout{
    color: #69090b; 
}

.transition-background{    
    overflow: hidden;
    height: 70vh;
}
.transition-background .marquee {   
    overflow-x: hidden;
    width: 100%;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset)); 
}
.transition-background .marquee__inner {   
    width: fit-content;    
    position: relative;
    transform: translate3d(0, var(--move-initial), 0);
    animation: marqueeSkill 20s linear infinite;     
    transition: all 1s;    
}
.transition-background span p{
    font-size: 6vw;
    margin: 0;
    text-transform: uppercase;
    font-family: "GoshaSans-Regular";
    white-space: nowrap;
    color: #8b8b8b;
    line-height: .8;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    will-change: clip-path;
    transition-duration: 2s;    
}
@keyframes marqueeSkill {
    0% { transform: translate3d(0,var(--move-initial),0); }
    100% { transform: translate3d(0,var(--move-final), 0); }
}

.scramble-text{
    margin: 2rem 0 0;
}

.scramble-text  p{    
    text-transform: uppercase;
    font-size: smaller;
    letter-spacing: 10px;
    font-family: "NeueMontreal-Light";
    line-height: 2;
    transition-duration: .8s;
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: center top;
    transform-style: preserve-3d;
    transition: opacity 0s cubic-bezier(.215,.61,.355,1),transform 0s cubic-bezier(.215,.61,.355,1);
    opacity: 0;    
}

.scramble-text p.show{
    opacity: 1;
    transition-duration: .8s;
    transform: none; 
}

.scramble-text  .dud{
    color: #757575;
}



@media(max-width:1250px){
    .transition-background span p {
        font-size: 7vw;
    }    
}
@media(max-width:1000px){
    .transition-background span p {
        font-size: 7.5vw;
    }  
    .scramble-text p {
        text-transform: uppercase;
        font-size: small;
    }  
}

@media(max-width:600px){    
    .scramble-text p {       
        font-size: .6rem;
    }  
}
@media(max-width:500px){
    .transition-background span p {
        font-size: 9vw;
    }  
    .scramble-text  p {
        font-size: .5rem;
    }
} 



/**** PROJECTS ****/

.projects--{
    width: 90%;
    margin: auto;   
}

.project-card {
    background: #09090c;
    width: 100%;
    height: 100vh;
    position: relative;  
    display: flex;
    top: 0;
    align-items: end;
    margin: 5rem 0;
}


.project-card .data { 
    position: absolute;
    margin: 2rem 0;
    z-index: 2;
}

.project-card .title {
    position: absolute;
    left: 0;
    top: 2vh;
}

.project-card .title h1 {
    width: 50%;
    z-index: 3;
    text-transform: uppercase;
    font-size: 6vw;
    line-height: .8;
    letter-spacing: -2px;
    font-family: "NeueMontreal-Italic";
    color: #551A8B;
    font-weight: bolder    
}
.project-card:nth-of-type(2) .title h1 {color: #1c1c9c; }
.project-card:nth-of-type(3) .title h1 {color: #f882ab; }
.project-card:nth-of-type(4) .title h1 {color: #f7d012;}


.project-card .tech-skills {
    margin: 0rem 0 2rem;
}

.project-card .tech-skills p {
    text-transform: uppercase;
    font-size: 1vw;
    letter-spacing: 2px;
    font-family: "NeueMontreal-Italic";
    margin: 0;
}

.project-card .description{
    width: 65%;
}
.project-card .description p {
    text-align: justify;
    font-family: "NeueMontreal-Light";
    letter-spacing: 1px;
}

.project-card .links {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0vw;
    right: 0;    
}

.project-card .links a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "NeueMontreal-Light";    
    color: #c7c7c7;
    font-size: 1vw;
    font-weight: bolder;
    letter-spacing: 2px;
    transition: all .2s;
    padding: 1rem 2rem;   
    border-radius: 25px; 
}

.project-card .links a:hover {
    background: #c7c7c7;
    color: #09090c;    
    transition: all .2s;   
}

.project-card .media {
    height: 100vh;
    filter: saturate(0);
    position: absolute;
    bottom: 1vh;   
    width: 100%;    
}

.project-card:nth-of-type(1) .media { 
    background: url(/static/media/project__1.jpg);
    background-size: cover;
    background-position: center;    
    clip-path: polygon(70% 100%, 100% 100%, 100% 100%, 70% 100%);
    
}

.project-card:nth-of-type(2) .media { 
    background: url(/static/media/project__2.png);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0% 100%, 30% 100%, 30% 100%, 0% 100%);
}

.project-card:nth-of-type(3) .media { 
    background: url(/static/media/project__3.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(20% 100%, 50% 100%, 50% 100%, 20% 100%);
}

.project-card:nth-of-type(4) .media { 
    background: url(/static/media/project__4.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(70% 100%, 100% 100%, 100% 100%, 70% 100%);
}


.project-card:nth-of-type(2) .title,.project-card:nth-of-type(3) .title{
    right: 0;
    left: auto;
    display: flex;
    justify-content: end;
}
.project-card:nth-of-type(2) .description,.project-card:nth-of-type(3) .description{
    width: 100%;
    display: flex;
    justify-content: end;
}
.project-card:nth-of-type(2) .description p,.project-card:nth-of-type(3) .description p{
    width: 65%;
}

.project-card:nth-of-type(2) .tech-skills,.project-card:nth-of-type(3) .tech-skills{
    text-align: end;
}

.project-card:nth-of-type(2) .links,.project-card:nth-of-type(3) .links{
    left: 0;
    right: auto;
}

@media(max-width:1000px){
    .project-card .title h1 {       
        font-size: 7vw;
    }
    .project-card .tech-skills p {       
        font-size: 1.2vw;
    }
    .project-card .description p {        
        font-size: 1.8vw;
    }
    .project-card:nth-of-type(1) .media {        
        background-position: right;
    }
    .project-card:nth-of-type(2) .media {       
        background-position: left;        
    }
    .project-card:nth-of-type(3) .media {       
        background-position: right;       
    }
}

@media(max-width:800px){ 
    .project-card .title h1 {
        font-size: 8vw;
        width: 60%;       
    }   
    .project-card .tech-skills p {       
        font-size: 1.8vw;
    }
    .project-card .description p {        
        font-size: 2.5vw;
    }
    .project-card:nth-of-type(3) .media {
        background-position: center;
        clip-path: polygon(0% 0, 30% 0, 30% 100%, 0% 100%);
    }
}

@media(max-width:600px){ 
    .project-card .data {        
        margin: 0;
        z-index: 2;
        padding: 2rem 0;
        background: #09090c;
    }
    .project-card .title {
        z-index: 1;
    }
    .project-card .title h1 {
        font-size: 10vw;
        width: 60%;             
    }
    .project-card:nth-of-type(3) .title h1 {       
        width: 68%;
    }
    .project-card .tech-skills p {
        font-size: 2vw;
    }
    .project-card .description {
        width: 100% !important;
    }
    .project-card .description p {
        font-size: 3vw;
        width: 100% !important;
    }
    .project-card .media {
        background-position: center !important;
        clip-path: none !important;
        filter: saturate(0) brightness(0.8) ;
        height: 70vh;
        top: 0;
    }
    .project-card:nth-of-type(1) .media {
        background-position: right !important;
    }
    .project-card:nth-of-type(2) .media {
        background-position: left !important;
    }
    .project-card .links{
        position: relative;
    }
    .project-card .links a {        
        font-size: 2.5vw;
        margin: 2rem 0 0;
    }
}

@media(max-width:400px){
    .project-card .title h1 {
        font-size: 12vw;
        width: 75%;
    }
    .project-card:nth-of-type(3) .title h1 {       
        width: 80%;
    }
    .project-card .tech-skills p {
        font-size: 2.5vw;
    }
    .project-card .description p {
        font-size: 4vw;
        width: 100%;
    }
    .project-card .links a {        
        font-size: 2.8vw;
    }
} 




/**** SKILLS  ****/

.skills-presentation{
    height: 100vh;
    position: relative;  
    width: 90%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 50vh;   
}

.skills-title .marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}

.skills-title .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marqueeskills 10s linear infinite; 
    border-bottom: 1px solid;
    padding: 0 0 2rem 0;  
   
}

.skills-title .marquee span {
    font-size: 40vw;
    font-size: 30vh;
    /* font-size: 35vw; */
    padding: 0 2vw;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: "GoshaSans-Bold";
    line-height: 1.2;
}

@keyframes marqueeskills {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}


.skills-circle{
    position: absolute;
    /* bottom: -10vh; */
    bottom: 8vh;
    right: 7vw;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.9); 
}

.skills-circle h4{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: rotate 20s linear infinite;
    color: #cedddd;
    font-family: "GoshaSans-Regular";
}

.skills-circle h4 span{    
    position: absolute;
    left: 50%;
    transform-origin: 0 100px;
    font-size: small;
    text-transform: uppercase;
    font-weight: 900;
}

@keyframes rotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


.skills-info{
    position: absolute;
    /* bottom: -8vh; */
    bottom: 8vh;
    
   
}



.skills-info li{
    font-size: small;    
    color: #adadad;
    font-family: "GoshaSans-Regular";
    letter-spacing: 5px;
    line-height: 2;
    text-transform: uppercase;   
    list-style: none; 
}





@media(max-width:600px){
    .skills-title .marquee span {
        font-size: 30vw;
    }
    .skills-circle {        
        bottom: 90vw;
        right: 0vw;
        left: 0;
        margin: auto;
        /* transform: scale(0.8); */
    }
    .skills-info{
        position: absolute;
        bottom: 30vw;
        margin: 4vw 0;
    }
    .skills-info p {       
        letter-spacing: 10px;
        font-size: 2vw;
    }

}


.skills--{
    width: 90%;
    margin: auto; 
    transition: all 1s;
}
.skills-boxs{
    transition: all 1s;
}

.skills-- .box{
    position: relative;
    height: 10vh;
    /* margin: 6.6vw 0; */
    margin: 4.6vw 0;
    transform: translateY(50%);
    opacity: 0;
}
.skills-- .box h1{
    position: absolute;
    display: flex;
    font-family: "GoshaSans-Regular";    
    letter-spacing: 50px;
    /* color: #cedddd; */
    text-transform: uppercase;    
    font-size: 5vw;
   
    
}


.skills-- .box h1:nth-child(2){
    color:  #e91417;
    z-index: -1; 
    transition: all 2s;   
}
.skills-- .box h1:nth-child(2).scroll{
    transform : translateY(10px);
    transition: all 2s;
}


.skills-- .box h1:nth-child(3){
    color: #30dde7;
    z-index: -1;
    transition: all 2s;
}
.skills-- .box h1:nth-child(3).scroll{
    transform : translateY(-10px);
    transition: all 2s;
}

.skills-- .diverder{
    width: 0%;
    opacity: 0;
    height: 1px;
    background: #c7c7c7;
    margin: auto;       
}




@media(max-width:1200px){
    .skills-- .box {        
        height: 3vh;
        margin: 10vw 0;        
    }
    .skills-- .box h1 {       
        
        font-size: 4vw;
    }
}


@media(max-width:1000px){
    .skills-- .box {        
        height: 3vh;
        margin: 5.6vw 0;        
    }
    .skills-- .box h1 {        
        letter-spacing: 30px; 
        font-size: 4vw;
    }
}

@media(max-width:700px){

    .skills-presentation{
        margin: 20vh auto 50vh;
    }
    
    .skills-- .box h1 {        
        letter-spacing: 20px;         
    }
}


@media(max-width:500px){
    .skills--{
        margin-top: 40vh; 
    }
    .skills-- .box {        
        height: 3vh;
        margin: 15vw 0;        
    }
    .skills-- .box h1 {        
        letter-spacing: 15px; 
        font-size: 5vw;
    }
    .skills-- .box h1:nth-child(2).scroll{
        transform : translateY(5px);        
    }    
    .skills-- .box h1:nth-child(3).scroll{
        transform : translateY(-5px);        
    }
}



.another-tools {    
    height: 200vh;
    position: sticky;
    top: 0;    
    
    transition: all 2s;
}

.tools-block {
    height: 100vh;
    position: sticky;
    top: 0;
    display: table;
    width: 100%;
}

.tools-table{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.diverder-tools{
    height: .5px;
    background: #afbbbd;
    width: 0%;
    float: right;    
    transition-duration:  2s;
}

.tools-title {
    text-align: end;    
    letter-spacing: 4px;
}

.tools-title p{
    padding-top: 1rem;
    padding-bottom: 3.2rem;    
    text-transform: uppercase;
    color: #afbbbd;
    
}

ul.tools-ul {
    padding: 0;
    position: absolute;
    bottom: 0;
    padding-bottom: 2vw;
    list-style: none;
    margin: 0;    
}

.tools-ul li{
    font-size: .7rem;    
    color: #adadad;
    font-family: "GoshaSans-Regular";
    letter-spacing: 1px;
    line-height: 2;
    text-transform: uppercase;        
}





@media(max-width:500px){
    .another-tools {
        height: 200vh;
    }
    ul.tools-ul {
        
        padding-bottom: 10vw;
        
    }
    .tools-title p{
        font-size: 3vw;
    }
    .tools-ul li{
        font-size: 2.5vw;
    }
}


/**** CONTACT ****/

.contact-- {
    height: 100vh;
    width: 90%;
    margin: auto;
    position: relative;
    overflow: hidden;   
}




.contact--  .contact-data {
    position: absolute;
    padding: 2rem 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #09090c;
}

.contact-background{
    margin: 5vw 0;
    overflow: hidden;
}

.contact-background .marquee {   
    overflow-x: hidden;
    width: 100%;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset)); 
}

.contact-background .marquee__inner {   
    width: fit-content;    
    position: relative;
    transform: translate3d(0, var(--move-initial), 0);
    animation: marqueeSkill 20s linear infinite;     
    transition: all .2s;    
}







.__chapter__4 .banner__{
    position: relative;
    height: 120vh;
    margin: 2rem 0 0;   
    display: none; 
}
.__chapter__4 .banner__ .img__{
    background: url("media/ghost_in_the_Shell_1995_009-1200x649.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 80%;
    position: absolute;
    top: 0; 
    transition: all 1.5s ease-out;
    clip-path: polygon(0% 0, 48% 0, 48% 0%, 0% 0%); 
}

.__chapter__4 .banner__ .img__:nth-of-type(2){
    transform: translateY(10%);    
    clip-path: polygon(50% 100%, 100% 100%, 100% 100%, 50% 100%);
}






.contact-background span p{
    font-size: 7vw;
    margin: 0;
    text-transform: uppercase;
    font-family: "GoshaSans-Regular";     
    white-space: nowrap;      
    letter-spacing: 10px;
    color: #adadad;
    line-height:.8;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);  
    will-change: clip-path; 
    transition-duration: 2s;    
}


@keyframes marqueeSkill {
    0% {
        transform: translate3d(0,var(--move-initial),0);
    }

    100% {
        transform: translate3d(0,var(--move-final), 0);
    }
}

.contact--  .contact-text p{    
    text-transform: uppercase;
    font-family: "NeueMontreal-Light";
    letter-spacing: 1px;
    color: #cedddd;
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: center top;
    transform-style: preserve-3d;
    transition: opacity 0s cubic-bezier(.215,.61,.355,1),transform 0s cubic-bezier(.215,.61,.355,1);
    opacity: 0;
    transition-duration: 2s;
    transition-delay: 1s;
}

.contact--  .contact-text p.show{
    transition-duration: 2s;
    transform: none;
    opacity: 1;
}

.contact--  .contact-text p span{
    color: rgb(151, 23, 12);
}

.contact-- ul.contactUl {
    list-style: none;
    margin: 0;
    padding: 0;
    transition-duration: 1s;
    transition-delay: 1s;
    opacity: 0;
}
.contact-- ul.contactUl.show{
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 1s;
}

.contact-- ul.contactUl li a{
    
    color: #cedddd;
    text-transform: uppercase;
    font-family: "NeueMontreal-Light";
    letter-spacing: 2px;
    text-decoration: none;    
}

@media(max-width:1200px){
    .contact-background {
        margin: 8vw 0;       
    }
    .contact-text p{    
        font-size: 1.2vw;
    }
    ul.contactUl {
        font-size: 1.2vw;
    }
}

@media(max-width:970px){
    .contact-background span p {
        font-size: 7vw;
        margin: 0;
        padding: 1vw 0;
    }
}

@media(max-width:870px){
    .contact-background span p {
        font-size: 5vw;
        letter-spacing: 16px;
        padding: 1vw 0;
    }
    .contact-- .contact-data {
        display: block;
    }

    .contact-- .contact-text p {
        font-size: 2vw;
        width: 80%;
    }
    ul.contactUl {
        font-size: 1.8vw;
        padding: 5vh 0 0;
        text-align: end;
    }
}

@media(max-width:770px){
    .contact-background span p {
        font-size: 8vw;
        margin: 0;
        padding: 2vw 0;
        letter-spacing: -2px;
    }
    .contact-text p {
        font-size: 2.5vw;
    }

    ul.contactUl {
        font-size: 2vw;
    }
}

@media(max-width:600px){
    .contact-background {
        margin: 10vw 0;
    }

    .contact-background span p {
        font-size: 7vw;
        margin: 0;
        padding: 3vw 0;
        letter-spacing: 3px;
    }

    .contact-- .contact-text p {
        font-size: 3.6vw;
        width: 80%;
    }
    ul.contactUl {
        font-size: 3vw;
        padding: 5vh 0 0;
        text-align: end;
    }
}

@media(max-width:500px){
    .contact-background {
        margin: 12vw 0;
    }

    .contact-background span p {
        font-size: 7vw;
        margin: 0;
        padding: 3vw 0;
        letter-spacing: 3px;
    }

    .contact-- .contact-text p {
        font-size: 4vw;
        width: 80%;
    }
    ul.contactUl {
        font-size: 3.5vw;
        padding: 5vh 0 0;
        text-align: end;
    }
    
}